# local files
db.sqlite3

# actual pictures of us
cards/static/cards/images/

# detail.html now includes a personal Christmas letter
cards/templates/cards/detail.html

# .swp files
*.html.swp

*.egg-info
*.pot
*.py[co]
__pycache__
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
