/* Blue #6EBDA6, text on it #F6FDFF
 * Red #A41E22, text on it #F3EEC7
 * Green #83A931, text on it #0C3720
 */
body {
  background-color: #A41E22;
  color: #F3EEC7;
}

a:link {
  color: #F3EEC7;
  text-decoration: underline;
}

a:visited {
  color: #F3EEC7;
  text-decoration: underline;
}

a:hover {
  color: #A41E22;
  text-decoration: none;
  background-color: #F3EEC7;
}

a:active {
  color: #A41E22;
  text-decoration: underline;
  background-color: #F3EEC7;
}

img.displayed {
  display: block;
  max-width: 75%;
  max-height: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}
